@import url("../iconfont/iconfont.css");

body{
	box-sizing  : content-box;
	font-family : 'Avenir', Helvetica, Arial, sans-serif;
	color       : #333;
	overflow-x  : hidden;
}
a,a:visited{
	color           : #333;
	text-decoration : none;
}                 
a:hover{
	text-decoration : none;
	color           : #00B0CB;
}
hr{
	height        : 4px;
	border        : none;
	border-top    : 2px solid #666; 
	width         : 70px;
	margin-top    : 10px; 
	margin-bottom : 0px;
}
p.text{
	font-size   : 1.5vw;
	color       : #999;
	text-shadow : none;
}
i{
	margin-left : 5px;
}
ul{
	margin  : 0;
	padding : 0;
}
li{
	list-style : none;
}
input:-webkit-autofill {
	-webkit-box-shadow : 0 0 0px 1000px white inset;
}
.clearfloat:after{
	clear    : both;
	content  : "";
	display  : block;
	overflow : hidden;
	height   : 0;
}
.panel{
	-webkit-box-shadow : none;
	box-shadow         : none;
	border             : none;
}
.text-l{
	text-align: left;
	line-height: 30px;
}
.iconfont{
	font-size    : 24px;
	margin-right : 10px;
	position     : relative;
	top          : 3px;
}


/*  导航 开始  */
.header{
	background-color : #fff;
	border-bottom    : 1px solid #eee;
	box-shadow       : 1px 1px 3px #eee;
	z-index          : 99;
	position         : fixed;
	top              : 0;
	left             : 0;
	right            : 0;
}
.header .related{
	background-color : #53565B;
	color            : #D6D3D4;
	line-height      : 40px;
	padding-right    : 40px;
}
.header .related .item{
	float : right;
}
.header .related .item a{
	color : #D6D3D4;
}
.header .related i{
	margin-left : 20px;
	font-size   : 16px;
}
.header .related i:hover{
	color : #fff;
}
.header .logo img{
	width       : 200px;
	float       : left;
	margin-left : 20px;
}
.header .nav .navbar{
	float       : right;
	list-style  : none;
}
.header .navbar{
	margin-bottom : 0px;
	padding-right : 20px;
	outline       : none;
}
.header .navbar li{
	display      : inline-block;
	font-size    : 16px;
	margin-right : 20px;
	line-height  : 80px;
}
.header .navbar .login-icon{
	outline : none;
}
.header .navbar li:hover .dropdown{
	display : block;
}
.header .dropdown{
	padding     : 0px;
	margin-left : -15px;
	position    : absolute;
	display     : none;
}
.header .dropdown li{
	background-color : rgba(255,255,255,.9);
	margin           : 0px;
	display          : block;
	padding          : 0px 15px;
	line-height      : 50px;
}
.header-grid {
	padding          : 0 20px;
	display          : none;
	background-color : #fff;
	position         : relative;
}
.header-grid .logo{
	display : inline-block;
	margin  : 0 auto;
}
.header-grid .logo img{
	width      : 20vw;
	margin-top : 10px;
}
.header-grid .menu{
	float       : right;
	list-style  : none;
	line-height : 50px;
}
.header-grid .menu li{
	display      : inline-block;
	margin-right : 30px;
}
.header-grid .menu .dropdown{
	background-color : #fff;
	z-index          : 3;
	width            : 100%;
	padding          : 0px;
	position         : absolute;
	top              : 50px;
	left             : 0;
	display          : none;
}
.header-grid .dropdown li{
	display    : block;
	margin     : 0;
	text-align : center;
}
.header-grid .menu .fa{
	font-size   : 15px;
	line-height : 50px;
}
.header-grid .dropdown .li-grid{
	border-bottom : 1px solid #eee;
	border-top    : 1px solid #eee;
}



/*  banner 开始  */
.banner{
	background      : url(../img/index-banner.jpg) no-repeat top center;
	background-size : 100% auto; 
	margin-top      : 80px;
}
.banner:after{
	content : "";
	display : block;
	padding : 20%;
}


/*  content 开始  */
.floatBox{
    margin : 40px 20px;
}
.floatBox .item-box{
    width    : 33.33%;
    float    : left;
    padding  : 0 20px;
    position : relative;
}
.floatBox .inner-box{
    height         : 0;
    padding-bottom : 100%;
}
.floatBox .sub-title{
    background-color : #fff;
    height           : 30px;
    position         : absolute;
    top              : 50%;
    bottom           : 50%;
    left             : 20px;
    right            : 20px;
    z-index          : 1;
    padding          : 5px 10px;
}
.floatBox .sub-title img{
    width : 76px;
}
.floatBox .sub-title span{
    float       : right;
    font-size   : 16px;
    line-height : 20px;
    margin-top  : 2px;
}
.floatBox .hide-box{
    background-color : rgba(255,255,255,.8);
    position         : absolute;
    top              : 53%;
    bottom           : 0;
    left             : 20px;
    right            : 20px;
    padding          : 0 10px;
    display          : none;
}
.floatBox .hide-box .text{
    position : absolute;
    bottom   : 0;
}
.content-grid{
	display : none;
}
.floatBox .item-box .inner-box.bgp1,.content-grid .box-1{
	background      : url(../img/box1.jpg) no-repeat top center;	
	background-size : 100% auto;
}
.floatBox .item-box .inner-box.bgp2,.content-grid .box-2{
	background      : url(../img/box2.jpg) no-repeat top center;
	background-size : 100% auto;
}
.floatBox .item-box .inner-box.bgp3,.content-grid .box-3{
	background      : url(../img/box3.jpg) no-repeat top center;
	background-size : 100% auto;
}
.floatBox .item-box .inner-box,.content-grid .box{
	box-shadow : 3px 3px 10px #ccc;
}
.content-grid .box{
	height : 420px;
}
.content-grid .inner{
	background-color : rgba(255,255,255,.7);
	text-align       : center;
	height           : 100%;
	padding          : 4vw 2vw;
	display          : none;
	font-size        : 18px;
}
.content-grid .box:hover .inner{
	display : block;
}
.content-grid .inner .title{
	font-weight : bold;
}
.content-grid .inner .innerText{
	margin-top  : 1.5vw;
	word-wrap   : keep-all;
	color       : #7f8c8d;
	line-height : 3vw;
}
.content-grid .inner .moreBtn{
	width         : 150px;
	margin        : 0 auto;
	padding       : 7px;
	border-radius : 50px;
	border        : 1px solid #7f8c8d;
	margin-top    : 30px;
	color         : #7f8c8d;
	cursor        : pointer;
}


/*  register 开始  */
.registe{
	text-align       : center;
	padding          : 70px 0px;
	background-color : #000;
	color            : #fff;
}
.text-title{
	font-size : 2.5vw;
}
.registe img{
	width         : 20%;
	margin-bottom : 10px;
}
.registe .registe-a{
	color           : #fff;
	text-decoration : none;
}
.registe .button{
	background-color : #00B0CB;
	margin           : 40px auto 20px;
	color            : #fff;
	font-size        : 1.5vw;
	width            : 40vw;
	border-radius    : 50px;
	padding          : 15px;
	cursor           : pointer;
}


/* evaluate 开始 */
.evaluate{
	text-align : center;
	padding    : 70px 0;
}
.evaluate #carousel-example-generic{
	padding  : 2vw 14vw;
	height   : 16vw;
	overflow : hidden;
}
.evaluate #carousel-example-generic p.text{
	overflow           : hidden;
	text-overflow      : ellipsis;
	display            : -webkit-box;
	-webkit-box-orient : vertical;
	-webkit-line-clamp : 5;
}
.evaluate .carousel-control.right,.evaluate .carousel-control.left{
	background-image : none;
}
.evaluate .glyphicon.glyphicon-chevron-right,.evaluate .glyphicon.glyphicon-chevron-left{
	background-color : #d6d3d4;
	border-radius    : 50px;
	display          : block;
	width            : 40px;
	height           : 40px;
	padding-top      : 4px;
}


/*  footer 开始  */
.footer{
	background-color : #53565B;
	text-align       : left;
	padding          : 40px 60px 20px;
}
.footer .title{
	color     : #fff;
	font-size : 18px;
}
.footer .sub-title{
	color     : #999;
	font-size : 16px;
}
.footer input,.footer textarea{
	margin  : 20px 0;
	display : block;
	width   : 100%;
	outline : none;
	padding : 10px 15px;
	border  : none;
	resize  : none;
}
.footer .send{
	color            : #fff;
	background-color : #00B0CB;
	width            : 150px;
	text-align       : center;
	padding          : 7px 15px;
	border-radius    : 25px;
	cursor           : pointer;
}
.footer .footer-list{
	list-style : none;
	padding    : 0px;
	margin-top : 25px;
	font-size  : 16px;
}
.footer li a{
	color       : #999;
	line-height : 30px;
}
.footer .qrcode{
	width      : 50%;
	margin-top : 25px;
}
.footer .pages{
	padding-left : 150px; 
}

              
/* 注册用户调查 */
.form {
	font-size : 16px;
	padding   : 50px 0 30px;
}
.form .red-span{
	color: red;
}
.form .form-title{
	font-weight : bold;
	line-height : 70px;
}
.form .form-inner{
	border-top    : 1px solid #666;
	border-bottom : 1px solid #666;
	padding       : 20px 0 10px;
}
.form .form-inner input[type=radio]{
	margin-left  : 20px;
	margin-right : 6px;
}
.form .input-type{
	outline : none;
	width   : 100%;
	border  : 1px solid #ddd;
	padding : 0px 10px;
}
.form .textarea-type{
	width   : 100%;
	height  : 100px;
	border  : 1px solid #ddd;
	resize  : none;
	outline : none;
	padding : 10px;
}
.form p{
	line-height : 30px;
}

.form .table .table-input{
	border     : none;
	text-align : center;
	outline    : none;
	width      : 100%;
}
.form .btn{
	margin-top   : 30px;
	width        : 100px;
	margin-right : 20px;
	outline      : none;
}


/*  team  */
.team-banner{
	background      : url(../img/team-banner.jpg) no-repeat scroll 0px -200px;
	background-size : 100% auto;
	margin-top      : 120px;
}
.team-banner:after{
	content : "";
	display : block;
	padding : 16%;
}
.team-content{
	text-align : left;
	padding    : 30px 0 0;
}
.team-content h1.title{
	text-align : center;
}
.team-content .team-inner{
	font-size   : 20px;
	margin      : 0 0 30px;
	line-height : 30px;
}
.team-content .team-inner h1{
	text-align : center;
}
.team-content .item{
	border-bottom : 1px solid #d6d3d4;
	padding       : 40px 0;
	font-size     : 16px;
}
.team-content .item p{
	font-size   : 20px;
	line-height : 30px;
}
.team-content img{
	width          : 100%;
	vertical-align : middle;
}
.team-content .ann-pic{
	line-height : 429px;
	margin-top  : 20px;
}
.team-content .ann-pic-grid{
	display : none;
}
.team-content .siri-pic{
	margin-top : 20px;
}


/*  workout  */
.workout-banner{
	background      : url(../img/workout-banner.jpg) no-repeat top center;
	background-size : 100% auto;
	margin-top      : 120px;
}
.workout-banner:after{
	content : "";
	display : block;
	padding : 16%;
}
.banner-title{
	width        : 25%;
	text-align   : center;
	float        : right;
	margin-top   : 20vw;
	margin-right : 10vw;
}
.banner-title .title{
	font-size   : 4vw;
	line-height : 120%;
	margin-top  : 10px;
}
.banner-title .text{
	font-size : 1.2vw;
	color     : #333;
}
.workout-content{
	text-align : left;
	padding    : 30px 0;
}
.workout-content .workout-text{
	margin-bottom : 30px;
	font-size     : 20px;
	line-height   : 30px;
}


/*  instructor  */
.instructor-banner{
	background      : url(../img/instr-banner.jpg) no-repeat scroll 0px -100px;
	background-size : 100% auto;
	margin-top      : 120px;
}
.instructor-banner:after{
	content : "";
	display : block;
	padding : 16%;
}
.instructor-content{
	padding : 30px 0;
}
.instructor-content .instructor-text{
	margin-bottom : 30px;
	font-size     : 20px;
	line-height   : 30px;
}
.instructor-content li,.instructor-content .click{
	font-size  : 16px;
	list-style : disc;
}
.instructor-content .button,.instructor-content .title{
	text-align : center;
}
.instructor-content .instructor-btn{
	display          : inline-block;
	padding          : 10px;
	margin           : 0px 30px 30px;
	background-color : #00B0CB;
	width            : 300px;
}
.instructor-content .instructor-btn:hover{
	background-color : rgba(0,176,203,.7);
}
.instructor-content .instructor-btn a{
	color : #fff;
}


/*  user  */
.user-content .item{
	margin-top : 30px;
	font-size  : 1.5vw;
	text-align : center;
}
.user-content .item .box{
	background-size : 100% auto;
	height          : 20vw;
	border          : 1px solid #eee;
}
.user-content .inner{
	background-color : rgba(255,255,255,.8);
	height           : 20vw;
	display          : none;
	text-align       : center;
}
.user-content .inner .icon{
	line-height : 20vw;
	font-size   : 4vw;
	color       : #00B0CB;
}
.user-content .item:hover .inner{
	display : block;
}


/*  video  */
.video-content,.pic-content,.user-content{
	padding : 150px 60px 50px;
}
.video-content .text-title,.pic-content .text-title,.user-content .user-title{
	text-align : center;
}
.video-content .video-list,.pic-content .pic-list,.user-content .user-list{
	margin-top : 30px;
}
.video-content .list-title,.pic-content .list-title{
	font-size   : 18px;
	line-height : 50px;
	font-weight : bold;
}
.video-content .video-style{
	width  : 100%;
	height : 16.4vw;
}
.video-content p,.pic-content p,.user-content .item p{
	line-height : 50px;
	font-size   : 16px;
	margin      : 0px;
}


/*  pic  */
.pic-content .panel-img{
	width  : 100%;
	height : 19vw;
}



/*  faq  */
.faq-banner{
	background      : url(../img/faq-banner.jpg) no-repeat top center;
	background-size : 100% auto; 
	margin-top      : 120px;
}
.faq-banner:after{
	content : "";
	display : block;
	padding : 16%;
}
.faq-content {
    padding   : 40px 0;
    font-size : 16px;
}
.faq-content ul{
    list-style   : none;
    padding      : 0;
    margin-right : 20px;
    float        : left;
    line-height  : 30px;
}
.faq-content .scrollspy-example{
	float    : left;
	position : relative;
	height   : 1000px;
	overflow : auto;
}
.faq-content .faq-title{
    font-weight : bold;
    line-height : 30px;
    font-size   : 18px;
}
.faq-content .faq-hr{
    border     : none;
    border-top : 1px solid #ccc;
    margin     : 5px 0;
    width      : 100%;
}
.active a{
    color: #00B0CB;
}
.fixed{
	background-color : red;
}
.faq-content .scrollspy-example::-webkit-scrollbar {display:none}


/*  schedule  */
.schedule-banner{
	background      : url(../img/schedule-banner.jpg) no-repeat scroll 0px -70px;
	background-size : 100% auto; 
	margin-top      : 120px;
}
.schedule-banner:after{
	content : "";
	display : block;
	padding : 16%;
}
.schedule-content{
	text-align : center;
	padding    : 30px 0;
}
.schedule-content .schedule-text{
	margin-bottom : 30px;
	font-size     : 20px;
	line-height   : 30px;
}
.schedule-content .train-faq{
	background-color : #00B0CB;
	width            : 200px;
	margin           : 0 auto;	
	margin-bottom    : 30px;
}
.schedule-content .faq-btn{
	color       : #fff;
	line-height : 40px;
}
.schedule-content .table{
	border     : 1px solid #eee;
	box-shadow : 3px 3px 3px #f7f7f7;
}
.schedule-content .table td{
	line-height: 40px;
}
.schedule-content .table-title{
	font-weight      : bold;
	background-color : #eee;
}


/*  train  */
.train-banner{
	background      : url(../img/train-banner.jpg) no-repeat scroll 0px -70px;
	background-size : 100% auto; 
	margin-top      : 120px;
}
.train-banner:after{
	content : "";
	display : block;
	padding : 16%;
}
.train-content{
	text-align : left;
	padding    : 30px 0;
}
.train-content .train-text{
	margin-bottom : 30px;
	font-size     : 20px;
	line-height   : 30px;
}
.train-content .instru-grid{
	font-weight     : bold;
	font-size       : 16px;
	text-decoration : underline;
}
.train-content .train-from{
	border      : 1px solid #eee;
	padding     : 20px;
	line-height : 30px;
	box-shadow  : 3px 3px 3px #f7f7f7;
}
.train-content .train-from label{
	width : 120px;
}
.train-content .train-from .input-type{
	outline       : none;
	width         : 100%;
	border        : none;
	border-bottom : 1px solid #ddd;
}
.train-content .sub-btn{
	background-color : #00B0CB;
	color            : #fff;
	border-radius    : 0px;
	margin           : 30px auto;
	padding          : 7px 24px;
	cursor           : pointer;
}


/*  store  */
.store-banner{
	background      : url(../img/store-banner.jpg) no-repeat scroll 0px -300px;
	background-size : 100% auto; 
	margin-top      : 120px;
}
.store-banner:after{
	content : "";
	display : block;
	padding : 16%;
}	
.store-content{
	padding    : 30px 0;
}
.store-content .title{
	text-align    : center;
	margin-bottom : 30px;
}
.store-content .store-text{
	margin-bottom : 30px;
	font-size     : 20px;
	line-height   : 30px;
	text-align    : center;
}
.store-content .item:hover{
	border  : 1px solid #ddd;
	padding : 9px;
}
.store-content .item{
	padding       : 10px;
	margin-bottom : 30px;
}
.store-content .store-img{
	width   : 100%;
}
.store-content .item p{
	border-bottom : 1px solid #ddd;
	line-height   : 40px;
	font-size     : 16px;
}
.store-content .item-img{
	padding : 10px;
}
.store-content .item .con-img{
	width : 32.33%;
}
.store-content .item-img li{
	display: inline;
}
.store-content .submit{
	float       : right;
	color       : #00B0CB;
	font-size   : 16px;
	cursor      : pointer;
}
.store-content .tobuy{
	background-color : #00B0CB;
	color            : #fff;
	line-height      : 30px;
	width            : 150px;
	margin           : 0 auto;
	text-align       : center;
	font-weight      : bold;
	cursor           : pointer;
}


/*  pay  */
.pay{
    text-align      : center;
    background      : url(static/img/team-banner.jpg) top center no-repeat;
    background-size : cover;
}
.pay .inner{
    background-color : rgba(255,255,255,.3);
    padding          : 11vw;
    font-size        : 2vw;
}
.pay img{
    width         : 25vw;
    margin-bottom : 30px;
}


/*  cart  */
.cart{
	margin-top : 120px;
	text-align : center;
	padding    : 30px 0;
}
.cart .row{
	line-height   : 120px;
	border-bottom : 1px solid #eee;
	padding       : 20px 0;
}
.cart .cart-title{
	border-bottom : 1px solid #eee;
	line-height   : 50px;
	padding       : 0;
}
.cart .item-img{
	width        : 160px;
	margin-right : 20px;
}
.cart .row .qty{
	border      : 1px solid #eee;
	display     : inline-block;
	width       : 60px;
	line-height : 50px;
	text-align  : center;
	outline     : none;
}
.cart .subtotal{
	font-size        : 16px;
	text-align       : right;
	line-height      : 50px;
}
.cart .cart-submit{
	background-color : #00B0CB;
	width            : 100px;
	float            : right;
	color            : #fff;
	line-height      : 30px;
	cursor           : pointer;
	margin-bottom    : 50px;
}


/*  class  */
.class-banner{
	background      : url(../img/class-banner.jpg) no-repeat scroll 0px -300px;
	background-size : 100% auto;
	margin-top      : 120px;
}
.class-banner:after{
	content : "";
	display : block;
	padding : 16%;
}
.class-content{
	padding    : 30px 0;
	text-align : center;
}
.class-content .class-text{
	margin-bottom : 30px;
	font-size     : 20px;
	line-height   : 30px;
}
.class-content .item{
	/*width   : 25%;*/
	float   : left;
	padding : 20px;
}
.class-content .item-box{
	border         : 1px solid #eee;	
	height         : 0;
	padding        : 20px 10px;
	padding-bottom : 100%;
	box-shadow     : 3px 3px 10px #eee;
}
.class-content .item:hover{
	position : relative;
	top      : -10px;
}
.class-content .item:hover .item-box{
	border     : 1px solid #00B0CB;
	box-shadow : none;
}
.class-content .class-name{
	font-size: 16px;
}
.class-content hr.class-hr{
	height        : 4px;
	border        : none;
	border-top    : 2px solid #666; 
	width         : 70px;
	margin-top    : 5px;
	margin-bottom : 10px;
}



/*  响应 开始  */
@media screen and (max-width : 580px) and (min-width: 320px){
	body{
		font-size : 14px; 
	}
	.grid-banner{
		margin: 0;
	}
	.grid-banner:after{
		padding: 20% 0;
	}
	.team-banner,.instructor-banner,.schedule-banner,.train-banner,.store-banner,.class-banner{
		background-position: center center;
	}
	.text-title{
		font-size : 18px;
	}
	.header,.content .row,.floatBox,.footer .pages,.faq-content .faq-nav{
		display : none;
	}
	.header-grid,.content-grid,.content-grid .box .inner,.team-content .ann-pic-grid{
		display : block;
	}
	.content-grid .grid-box{
		margin-bottom : 20px;
	}
	.banner{
		margin-top : 0px;
	}
	.content-grid .row{
		position : relative;
		top      : 0;
		padding  : 20px;
	}
	.content-grid .box{
		height : 220px;
	}
	.content-grid .inner .moreBtn{
		margin-top : 20px;
		font-size  : 14px;
	}
	.content-grid .inner .innerText{
		line-height : 5.5vw;
	}
	.registe,.evaluate{
		padding : 30px 0;
	}
	.registe .button{
		width : 70vw;
		font-size: 14px;
	}
	.evaluate #carousel-example-generic{
		height : 100px;
	}
	.evaluate #carousel-example-generic p.text{
		-webkit-line-clamp : 3;
	}
	.footer{
		text-align : center;
		padding    : 20px 0px;
		font-size  : 14px;
	}
	.footer input, .footer textarea{
		width   : 300px;
		margin  : 0 auto 10px;
		padding : 5px 10px;
	}
	.footer .send{
		margin : 20px auto 20px;
	}
	.footer .qrcode{
		width : 30%;
	}
	.evaluate .glyphicon.glyphicon-chevron-right,.evaluate .glyphicon.glyphicon-chevron-left{
		padding-top : 10px;
	}
	.workout-banner .banner-title{
		width       : 50%;
		float       : none;
		margin      : 0;
		position    : absolute;
		top         : 20vw;
		left        : 50%;
		margin-left : -125px;
	}
	.video-content,.pic-content,.user-content{
		padding : 0px;
	}
	.video-content .text-title,.pic-content .text-title,.user-content .user-title{
		font-size : 18px;
	}
	.video-content .video-style{
		height : 52vw;
	}
	.instructor-content .title,.schedule-content .title,.train-content .title,.workout-content .title,.store-content .title,.cart h1,.team-content .title,.class-content .title{
		font-size: 24px;
	}
	.instructor-content .instructor-text,.schedule-content .schedule-text,.train-content .train-text,.workout-content .workout-text,.store-content .store-text,.team-content .info-text,.team-content p.grid-text,.team-content p.text{
		font-size   : 14px;
		line-height : 25px;
	}
	.class-content .class-text{
		font-size   : 16px;
		line-height : 25px;
	}
	.instructor-content .instru-grid{
		font-weight : bold;
		font-size   : 16px;
	}
	.faq-content .scrollspy-example{
		height : 100%;
	}
	.team-content {
		padding-bottom : 0;
	}
	.team-content .team-inner{
		line-height   : 20px;
		margin-bottom : -40px;
	}
	.team-content .item p{
		line-height : 20px;
	}
	.team-content h3{
		font-size : 16px;
	}
	.team-content .ann-pic{
		line-height : 200px;
		display     : none;
	}
	.team-content .siri-pic{
		line-height : 200px;
	}
	.team-content .team-inner h1{
		font-size : 18px;
	}
	.team-content img{
		width : 50%;
	}
	.team-content .item{
		padding : 30px 0 20px;
	}
	.team-content .item:last-child{
		padding-top : 10px;
	}
	.user-content .item p{
		font-size   : 12px;
		line-height : 20px;
	}
	.cart{
		margin-top: 0;
		padding: 0;
	}
	.cart .cart-box .row>div:first-child{
		line-height : 30px;
	}
	.cart .cart-box .row>div{
		line-height : 180px;
	}
	.cart .cart-box .item-img{
		width : 100px;
	}
	.cart .row .qty{
		border      : 1px solid #eee;
		display     : inline-block;
		width       : 60px;
		line-height : 50px;
		text-align  : center;
		outline     : none;
	}
}



@media screen and (max-width: 840px) and (min-width: 580px){
	.header .logo img{
		width      : 15%;
		margin-top : 10px;
	}
	.info-text{
		font-size: 16px;
	}
	.header .navbar {
		padding : 0px;
	}
	.header .navbar li{
		line-height : 60px;
	}
	.header .navbar a{
		font-size : 11px;
	}
	.banner{
		margin-top : 60px;
	}
	.floatBox,.footer .pages{
		display : none;
	}
	.content-grid{
		display : block;
	}
	.content-grid .row{
		position       : relative;
		top            : 0;
		padding-bottom : 50px;
	}
	.content-grid .box{
		height              : 300px;
		background-position : top center;
		background-size     : 100% auto;
	}
	.content-grid .inner .moreBtn{
		margin-top : 30px;
		font-size  : 14px;
	}
	.evaluate #carousel-example-generic p.text{
		-webkit-line-clamp : 4;
	}
	.evaluate .glyphicon.glyphicon-chevron-right,.evaluate .glyphicon.glyphicon-chevron-left{
		padding-top : 8px;
	}
	.footer{
		text-align : center;
	}
	.footer input, .footer textarea{
		width  : 400px;
		margin : 0 auto 20px;
	}
	.footer .send{
		margin : 0 auto 30px;
	}
	.footer .qrcode{
		width : 30%;
	}
	.workout-banner:after{
		background-color : rgba(255,255,255,.6);
	}
	.workout-banner .banner-title{
		width       : 40%;
		float       : none;
		margin      : 0;
		position    : absolute;
		top         : 20vw;
		left        : 50%;
		margin-left : -125px;
	}
	.video-content .video-style{
		height : 22vw;
	}
	.faq-content .scrollspy-example{
		height : 100%;
	}
	.team-content .item p{
		font-size : 16px;
	}
	.train-content .train-text{
		font-size     : 16px;
		line-height   : 30px;
		margin-bottom : 14px;
	}
	.cart .cart-box .row>div:first-child{
		line-height: 30px;
	}
	.cart .cart-box .row>div{
		line-height: 180px;
	}
}


@media screen and (min-width: 320px) and (max-width: 990px){
	.pic-content .panel-img{
		height : 100%;
	}
	.class-content .item-box{
		padding-bottom : 0px;
		height         : 220px;
	}
}


@media screen and (min-width: 840px) and (max-width: 1024px){
	.header .logo img{
		width      : 15%;
		margin-top : 12px;
	}
	.floatBox .item-box .hide-box{
		padding   : 10px;
		font-size : 1.5vw;
	}
	.floatBox .item-box .moreBtn{
		margin-top : 15px;
		font-size  : 1.5vw;
	}
	.footer .pages{
		margin-top : 25px;
	}
	.footer .qrcode{
		width : 30%;
	}
	.registe .enter{
		margin-top : 30px;
	}
}


